
.login-container {
    display: flex;
    justify-content: center;

}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form input,
button {
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 15px;
    border: 1px solid lightgray;
    padding-left: 10px;
    border-radius: 5px;
}

.login-form button {
    background-color: orange;
    color: whitesmoke;
    font-weight: 700;
    padding: 5px;

}
nav{
    display: flex;
    justify-content: space-between;
}
nav a{

    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin-right: 15px;
    
}